/*CSS Document*/
p {
	color: green;
	font-family: Constantina, "Lucida Bright", "DejaVu Serif", Georgia, "Serif";
	font-size: 16px; 
	line-height: 18px; 
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}
.paragraf_2 {color:darkcyan; background-color: rgba(225, 255, 255, 0.5)}
h1,h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:cadetblue;
}

body{
	background-image: url("mačke/macapozadinaa.jpg")
}

a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgray;
}

img {
	height: 200px;
}